body{
    background-color: lightgoldenrodyellow;
}

.main{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 400px;
    text-align: center;
}
.title{
    height: 80px;
    margin: 10px;
}
.Header{
    font-size: xx-large; 
    border-radius: 5px;

}
.btn{
    font-size: xx-large;
    width: 100%;
    height: 80px;
    background-color: rgb(249, 145, 202);
    border-radius: 10px;
    
}
.subHeader{
    font-size: large;
}
img{
    width: 100%;
}
